
body{
  background-image: url("./assets/backgrounds/beach-background.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 70%;
  height: 70%;
}


html{
  margin: 5px;
  padding: 0;
  font-family: sans-serif;
  width: 70%;
  height: 70%;
  user-select: none;
}

#root {
  font-family: 'Audiowide', 'cursive'; 
  font-size:50px;
  border-width: '15px';
  border-color: rgba(23, 236, 251, 0.822);
  color: blanchedalmond;
  border-radius: 25%;
  padding:10px;
  /* text-align: center;  */
} 

#returnbutton{
  transform: translate(500px,-300px);
}

.navbuttonscontainer{
display: flex;
flex-direction: column;
font-size: 24px;
border:7px solid black;
border-radius:15px;
padding:10px;
color:black;
height:relative;
width:200px;
transform: translate(1020px,0px);
align-items: left;
}

.navbutton{
display: flex;
text-shadow: none;
color:black;
border-radius:15px;
height:60px;
width:100%;
background-color:grey;
padding-bottom:10px;
margin-bottom:15px;
justify-content:space-evenly;
}

#searchform{
transform: translate(-30px, -300px);
color:black;
text-shadow: none;
border-radius: 50px;
width:200px;
}

#title{
  color: #3B5957;
  background-color: #5D8D89;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  border-color: rgba(23, 236, 251, 0.822);
  background-color:rgba(0, 0, 0, 0.376);
  color: blanchedalmond;
  padding: 25px;
  padding-top: 50px;
  text-align:center;
  border-radius: 50%;
  width: 1000px;
  height: 100px;
  margin: auto;
  text-shadow:2px 2px seagreen;
  box-shadow:         inset 0 0 10px #000000;
  transform: translate(0px, 0px);
}

/* .loginbar, .mapcontainer, .searchbar {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20vw, auto);
} */

 #app{
  display: flex;
  flex-direction: row;
  /* align-items: left; */
  justify-content: space-between;
 } 


#signup{
  z-index:1;
  color:black;
  font-size:16px;
  text-align: initial;
  width:200px;
  transform: translate(10px,0px);
  padding:10px;
  text-shadow: none;
}

#signup-button{
  border-radius: 25px;
  width:150px;
}


#map-showcase{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: relative;
  height: relative; 
  position:10px;
}

#search-bar {
  color: black;
  font-size:24px;
  width: relative;
  width: 300px;
  height: 75px;
  margin: 50px;
  text-align: left;
}
#searchform_input{
  width: 200px;
  font-size: 18px;
}

#favbeachbox{
  color:black;
  font-size: 36px;
  text-shadow: none;
  z-index: 4;
  width:1000px;
  transform: translate(00px,-500px);
  border-radius: 50%;
  padding:10px;
  margin:auto;
  text-align: center;
}

#reviews{
  border-radius:15px;
  /* justify-content: space-around; */
  height:relative;
  width:300px;
  padding:10px;
  color:black;
  transform: translate(450px,-550px);
  text-shadow: none;
  font-size: 40px;
}

#reviewform{
  font-size:20px;
  width:400px; 
  background-color:rgba(0, 0, 0, 0.376);
  border:7px solid black;
  border-radius:15px;
  padding:10px;
  color:black;
  transform: translate(0px,-400px);
  text-shadow: none;
}

.reviews{
  background-color:rgba(0, 0, 0, 0.376);
  font-size:18px;
  border: 7px solid black;
  border-radius:15px;
  border-bottom: relative;
  height:relative;
  width:350px;
}

#favbeach{
  display:grid;
  grid-template-rows: 10vw;
  font-size:16px !important;
  height:relative;
  width:relative;
  margin: 10px;
  transform: translate(30%,-365%);
  text-shadow: none;
  color: black;
}

.outerborder{
  max-width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  margin:auto;
}

.innerborder{
  width:100%;
  background: #222;
  color: white;
  padding: 2rem;
  margin:auto;
  translate: transform(-200px);
}

.mapframe{
  width:80%;
  font-size:18px;
  border: black;
  background-color: gray;
  border-radius: 25%;
  padding:10px;
  /* align-items: row; */
  background: linear-gradient(to right, red, purple);
  border:groove;
  border: width 1vh;
}


/* 
#favbeachimg{
  transform: translate(0px,000px);
  height:relative;
  width:600px;
} */

#imgframe{
  /* display:flex; */
  width:80%;
  font-size:18px;
  border: black;
  background-color: gray;
  border-radius: 25%;
  padding:10px;
  /* align-items: row; */
  background: linear-gradient(to right, red, purple);
  border:groove;
  border: width 1vh;
  margin:auto;
}

#userbeach{
  display:flex;
  flex-direction:column;
  font-size:18px;
  border: black;
  background-color: gray;
  width:800px;
  border-radius: 25%;
  padding:10px;
  align-items: row;
  background: linear-gradient(to right, red, purple);
  border:groove;
  border: width 1vh;
  transform: translate(75px);
  margin:auto;
}
#userbeachphoto{
  display:flex;
  padding:10px;
  transform:translate(50px,10px)
}
#userbeachesbuttons{
  font-size:20px;
  border-radius: 50%;
  padding:10px;
}

#detailtext{
  font-size:22px;
}

.roundbutton{
  font-size: 18px;
  border-radius:50px;
  width:150px;
  transition: all 0.3s ease-in-out;  
}

.roundbutton:hover {
  transform: scale(1.2, 1.2);
}

.roundbuttonFavbeach{
  border-radius:50px;
  height:20%;
  width:20%;
  transition: all 0.3s ease-in-out;  
  padding:30px;
  margin:auto;
}

.roundbuttonFavbeach:hover {
  transform: scale(1.2, 1.2);
}




#roundbutton{
  width:200px;
}

.favbeachReturn{
  transform: translate(500px,100px);
  float: right;
  width: 200px;
}

#userbeachreturn{
  font-size: 18px;
  height:20px;
  width: 200px;
}

#userbeaches{
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

#logoutButton{
  font-size: 18px;
  height:relative;
  width:relative;
  border-color: red;
  transform: translate(50px, 300px);
}


#log_in_username{
  width:125px;
  height:20px;
}

#log_in_password{
  width:125px;
  height:20px; 
}

#sign_up_username{
  width:125px;
  height:20px;
}

#sign_up_password{
  width:125px;
  height:20px;
  }

  #password-submit{
    width:150px;
    border-radius: 25px;
  }

  .chartcontainer {
    height: 80vh;
  }

  .chartwrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  #piechart{
    transform: translate(-10px,-530px);
    background-color: #d3d3d3;
    color:black;
    font-size: 22px;
  }

  .beachDataFont{
    color:black;
    text-shadow: none;
    font-size:15px;
  }
  .chartText{
    color:black;
    font-size: 22px;
  }